<form action='/user/register' method='POST' class="form">
  name<br>
  <input type='text' name='name' value='{{name}}' required>
  
  username<br>
  <input type="text" name="username" value='{{username}}' required>
  
  password<br>
  <input type="password" name="password" value='{{password}}' required>
 
  confirm password<br>
  <input type="password" name="password2" value='{{password2}}' required>
  
  <button type="submit">Submit</button>
</form>